@import url('../../../generalCSS/colors.css');

.CardProducto-container_flechita img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.CardProducto-container_article {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    background-color: #2b2b2b;
}

.CardProducto-container_producto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.CardProducto-container_descripcion > p {
    text-transform: capitalize;
}

.CardProducto-container_imagenProducto > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.CardProducto-container_article.CardProducto-container_article-modo_claro{
    background-color: var(--colorBlancoTarjetas);
}

.CardProducto-container_article.CardProducto-container_article-modo_claro .CardProducto-container_flechita img {
    filter: invert(0);
}