@import url('../../generalCSS/colors.css');

.Header{
    width: 100%;
    background-color: var(--negroT1);
    position: relative;
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
}

.Header-button_hide{
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.Header-button_hide:hover{
    background-color: var(--grisT2);
}

.Header-button_hide-image{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(1);
    object-fit: contain;
}

@media screen and (min-width: 1024px) {
    .Header-button_hide{
        display: none;

    }
}

.Header-modo_claro{
    color: black;
    background-color: var(--colorGris);
}

.Header-modo_claro .Header-button_hide-image{
    filter: invert(0);
}