@import "../../generalCSS/colors.css";

.img-producto{
    width:70px;
    height:70px;
    border-radius: 8px;
    object-fit: cover;
}

.ProductoEditAndCreate-contenedor_main{
    background-color: var(--negroT1);
    padding-left: 20px;
    height: 90vh;
}

.ProductoEditAndCreate-contenedor_main h2, 
.ProductoEditAndCreate-contenedor_main label, 
.ProductoEditAndCreate-contenedor_main p, 
.ProductoEditAndCreate-contenedor_main span,
.ProductoEditAndCreate-contenedor_main h3{
    color: white;
}


.lightmode.ProductoEditAndCreate-contenedor_main h2, 
.lightmode.ProductoEditAndCreate-contenedor_main label, 
.lightmode.ProductoEditAndCreate-contenedor_main p, 
.lightmode.ProductoEditAndCreate-contenedor_main span,
.lightmode.ProductoEditAndCreate-contenedor_main h3{
    color: rgb(0, 0, 0);
}



.ProductoEditAndCreate-contenedor_main input, 
.ProductoEditAndCreate-contenedor_main select,
.ProductoEditAndCreate-contenedor_main textarea{
    background-color: rgba(73, 79, 81, 1);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 16px;
    color:white;
    padding: 5px;
    width: 200px;
    padding-left: 10px;
    resize: none;
}

.ProductoEditAndCreate-contenedor_main label{
    display: block;
    margin-bottom: 3px;
}

.ProductoEditAndCreate-contenedor_main .InformacionProducto-contenedor_descripcionInput{
    min-width: 400px;
    min-height: 150px;
}


/* DarkMode */
.ProductoEditAndCreate-modo_claro{
    background-color: var(--colorBlanco);
}
.ProductoEditAndCreate-contenedor_main.ProductoEditAndCreate-modo_claro h2, 
.ProductoEditAndCreate-contenedor_main.ProductoEditAndCreate-modo_claro label, 
.ProductoEditAndCreate-contenedor_main.ProductoEditAndCreate-modo_claro p, 
.ProductoEditAndCreate-contenedor_main.ProductoEditAndCreate-modo_claro span,
.ProductoEditAndCreate-contenedor_main.ProductoEditAndCreate-modo_claro h3{
    color: var(--colorNegro);
}

.ProductoEditAndCreate-contenedor_main.ProductoEditAndCreate-modo_claro input, 
.ProductoEditAndCreate-contenedor_main.ProductoEditAndCreate-modo_claro select,
.ProductoEditAndCreate-contenedor_main.ProductoEditAndCreate-modo_claro textarea{
    background-color: var(--colorGris);
    color: var(--colorNegro);
}

