.InformacionProducto-contenedor_stockProducto {
    border-radius: 16px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    overflow: hidden;
    margin-top: 2px;
    background-color: rgba(73, 79, 81, 1);
    width: 80px;
}

.InformacionProducto-contenedor_stockProducto button {
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgba(73, 79, 81, 1);
    border: none;
    color: white;
}

.InformacionProducto-form_botones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.InformacionProducto-form_botones button{
    background-color: rgb(87, 92, 94);
    border:none;
    border-radius: 16px;
    color: white;
    padding: 6px;
    margin-right: 10px;
    width: 70px;
}

.InformacionProducto-form_botones a {
    text-decoration: none;
    color: white;
}

.Producto-contenedor_main label {
    margin-top: 10px;
}

.Producto-contenedor_main .ProductoForm-informacion {
    margin-top: 20px;
    font-weight: 400;
}